

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>DER &mdash; Linux工具快速教程</title>
  

  
  

  
  <link href="../_static/css/font_lato_googleapi.css" type='text/css'>
  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Linux工具快速教程" href="../index.html"/> 

  
  <script type="text/javascript" src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        
          <a href="../index.html" class="fa fa-home"> linuxtools</a>
        
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul>
<li class="toctree-l1"><a class="reference internal" href="../helloworld.html">1. Hello World(如何使用rst语法）一号标题</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id2">1.1. 二号标题：使用链接</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id9">1.2. 尾注</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id14">1.3. 引用：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id16">1.4. 添加图片</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id19">1.5. 内联标记</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id20">1.6. 列表：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id22">1.7. 特殊段落标记</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id23">1.8. 源代码标记</a></li>
<li class="toctree-l2"><a class="reference internal" href="../helloworld.html#id32">1.9. 二级标题试试</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html">2. 命令格式</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id2">3. 命令功能</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id3">4. 命令参数</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id4">5. 文件格式</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id5">6. 常用方法</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#crontab">6.1. 创建一个新的crontab文件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id6">6.2. 列出crontab文件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id7">6.3. 编辑crontab文件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id8">6.4. 删除crontab文件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id9">6.5. 恢复丢失的crontab文件</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id10">7. 使用实例</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#command">7.1. 实例1：每1分钟执行一次command</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id11">7.2. 实例2：每小时的第3和第15分钟执行</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id12">7.3. 实例3：在上午8点到11点的第3和第15分钟执行</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id13">7.4. 实例4：每隔两天的上午8点到11点的第3和第15分钟执行</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id16">7.5. 实例5：每个星期一的上午8点到11点的第3和第15分钟执行</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#smb">7.6. 实例6：每晚的21:30重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id17">7.7. 实例7：每月1、10、22日的4 : 45重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id18">7.8. 实例8：每周六、周日的1 : 10重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id19">7.9. 实例9：每天18 : 00至23 : 00之间每隔30分钟重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#pmsmb">7.10. 实例10：每星期六的晚上11 : 00 pm重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id20">7.11. 实例11：每一小时重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id23">7.12. 实例12：晚上11点到早上7点之间，每隔一小时重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id24">7.13. 实例13：每月的4号与每周一到周三的11点重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id25">7.14. 实例14：一月一号的4点重启smb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#etc-cron-hourly">7.15. 实例15：每小时执行/etc/cron.hourly目录内的脚本</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] crontab.html#id26">8. 使用注意事项</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id27">8.1. 注意环境变量问题</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id28">8.2. 注意清理系统用户的邮件日志</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id31">8.3. 系统级任务调度与用户级任务调度</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] crontab.html#id32">8.4. 其他注意事项</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] iostat.html">9. 命令格式</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] iostat.html#id2">10. 工具实例</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] iostat.html#id3">10.1. 实例1：显示所有设备负载情况</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] iostat.html#id4">10.2. 实例2：定时显示所有信息</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] iostat.html#tps">10.3. 实例3：查看TPS和吞吐量</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] iostat.html#util-await">10.4. 查看设备使用率（%util）、响应时间（await）</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] lsof.html">11. lsof概述</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] lsof.html#id1">11.1. 命令格式</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] lsof.html#id2">11.2. 命令功能</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] lsof.html#id3">11.3. 命令参数</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] lsof.html#id4">11.4. 　使用实例</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] ps.html">12. ps命令</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] ps.html#id1">12.1. 命令格式：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] ps.html#id2">12.2. 命令功能：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] ps.html#id3">12.3. 使用实例：</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] scp.html">13. scp命令</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] scp.html#id1">13.1. 简介</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] scp.html#id2">13.2. 命令格式：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] scp.html#id3">13.3. 命令功能：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] scp.html#id4">13.4. 命令参数：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] scp.html#id5">13.5. 使用实例：</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html">14. 第一行</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id2">15. 第二行</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id3">16. 第三行</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id4">17. 第四行</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id5">18. 第五行</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id6">19. 进程信息</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#top">20. top命令交互操作指令</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] top.html#id7">21. 实例</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] top.html#ucpu">21.1. 实例1：多U多核CPU监控</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] top.html#id8">21.2. 实例2：高亮显示当前运行进程</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] top.html#id9">21.3. 实例3：显示完整的程序命令</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] top.html#id10">21.4. 实例4：显示指定的进程信息</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] vmstat.html">22. vmstat的语法</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] vmstat.html#id1">23. 字段说明</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tool/[tool] wget.html">24. wget命令</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] wget.html#id1">24.1. 简介</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] wget.html#id2">24.2. 命令功能：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] wget.html#id3">24.3. 命令参数：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] wget.html#id15">24.4. 使用实例：</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tool/[tool] wget.html#id19">24.5. 编译安装</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">linuxtools</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
    <li>DER</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/der/README.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document">
            
  <div class="section" id="der">
<h1>DER<a class="headerlink" href="#der" title="Permalink to this headline">¶</a></h1>
<p><tt class="docutils literal"><span class="pre">DER</span> <span class="pre">==</span> <span class="pre">reverse(&quot;RED&quot;)</span></tt></p>
<p>本项目是 <a class="reference external" href="http://www.redisbook.com">《Redis 设计与实现》</a> 所使用的 Sphinx 样式。</p>
<p>样式特点：</p>
<ul class="simple">
<li>单色调简单风格（默认为红色，但很容易就可以修改成其他颜色）</li>
<li>醒目的 <tt class="docutils literal"><span class="pre">h1</span></tt> 标题</li>
<li>清晰的、可以高效地对文本进行视线分割的 <tt class="docutils literal"><span class="pre">h2</span></tt> 标题</li>
<li>固定大小、居中显示、百分比字体大小，布局健壮，适用于多种不同的屏幕环境</li>
</ul>
<div class="section" id="id1">
<h2>使用方法<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<ol class="arabic simple">
<li>克隆本项目。</li>
<li>修改 sphinx 项目 <tt class="docutils literal"><span class="pre">conf.py</span></tt> 文件中的 <tt class="docutils literal"><span class="pre">html_theme_path</span></tt> 变量，让它指向 <tt class="docutils literal"><span class="pre">der</span></tt> 文件夹所在的位置。</li>
<li>修改 sphinx 项目 <tt class="docutils literal"><span class="pre">conf.py</span></tt> 文件中的 <tt class="docutils literal"><span class="pre">html_theme</span></tt> 变量的值为 <tt class="docutils literal"><span class="pre">der</span></tt> 。</li>
<li>完成！</li>
</ol>
</div>
<div class="section" id="disqus">
<h2>开启 disqus 支持<a class="headerlink" href="#disqus" title="Permalink to this headline">¶</a></h2>
<ol class="arabic">
<li><p class="first">编辑 <tt class="docutils literal"><span class="pre">der</span></tt> 文件夹中的 <tt class="docutils literal"><span class="pre">layout.html</span></tt> 文件，修改文件中和 disqus 有关的语句：</p>
<div class="highlight-python"><div class="highlight"><pre>{# note: remove this comment if you want to enable disqus support

{% include &quot;disqus.html&quot; %}

#}
</pre></div>
</div>
<p>只保留这一句：</p>
<div class="highlight-python"><div class="highlight"><pre>{% include &quot;disqus.html&quot; %}
</pre></div>
</div>
</li>
<li><p class="first">编辑 <tt class="docutils literal"><span class="pre">der</span></tt> 文件夹中的 <tt class="docutils literal"><span class="pre">disqus.html</span></tt> 文件，将其中的</p>
<div class="highlight-python"><div class="highlight"><pre>var disqus_shortname = &#39;YOUR-DISQUS-FORUM-SHORTNAME&#39;;
</pre></div>
</div>
<p>中的 <tt class="docutils literal"><span class="pre">YOUR-DISQUS-FORUM-SHORTNAME</span></tt> 替换成你的 disqus 论坛的名字。</p>
</li>
<li><p class="first">完成！</p>
</li>
</ol>
</div>
<div class="section" id="id2">
<h2>使用许可<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<p>本样式修改自 <a class="reference external" href="http://sphinx-doc.org/">Sphinx</a> 项目自带的 pyramid 样式，
使用与源项目同样的 BSD 协议发布。</p>
<div class="line-block">
<div class="line">Copyright (c) 2013, huangz</div>
<div class="line">All rights reserved.</div>
</div>
<p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
<ul class="simple">
<li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li>
<li>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</li>
</ul>
<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &#8220;AS IS&#8221; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
</div>
</div>


          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, colin.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0.1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>